SUPABASE_URL=https://ebkouymlnspckprnotrv.supabase.co
SUPABASE_SERVICE_ROLE_KEY=
CLERK_WEBHOOK_SIGNING_SECRET=
CLERK_JWKS_URL=https://<your-clerk-domain>/.well-known/jwks.json
FRONTEND_URL=http://localhost:3000

// not used in the code, but needed for the supabase client to connect to the database
supabae_password=xl9BBkjwHrFLcg74

